.section {
    &__features {
        display: flex;
        width: 90%;
        margin: 0 auto;

        &--card {
            text-align: center;
            padding: 5rem;
            border: 1px solid transparent;
            transition: all .3s ease-in-out;
            margin: 0 1rem;
            
            &:hover {
                border: 1px solid #391322;
            }

            svg {
                fill: #fff;
                height: 6rem;
            }

            h4 {
                font-size: 3rem;
                font-weight: 300;
            }

            p {
                font-size: 2rem;
                font-weight: 300;
            }
        }
    }

    &__screenshots {
        margin-top: 15rem;

        &--img {
            margin-top: 10rem;
            display: flex;
            justify-content: center;

            img {
                height: 50rem;
                margin: 0 3rem;
            }
        }
    }

    &__testimonials {
        padding: 8rem;
        height: 50rem;
        background-color: #191C21;
    }

    &__download {
        margin-top: 10rem;

        .box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 3rem;
            width: 80%;
            margin: 5rem auto;

            div {
                height: 10rem;
                width: 100%;
                background-color: #191C21;
                border-radius: .4rem;
                border: 1px solid #272c33;
            }
        }

        .download {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 5rem;
            padding: 10rem 0;
            background-color: #191C21;
            // grid-template-columns: min-content 1fr;

            .app-store {
                width: 30%;
                display: flex;
                flex-direction: column;
                padding-right: 2rem;

                svg {
                    align-self: flex-end;
                }
            }

            &-image {
                width: 70%;
                padding-left: 2rem;
                
                img {
                    width: 100%;
                }
            }
        }
    }
}